[mysqld]
innodb_flush_method=O_DIRECT
innodb_flush_log_at_trx_commit=0 # or 2
# innodb_buffer_pool_size=1G # 物理メモリの8割目安
# innodb_file_per_table=ON
# innodb_log_file_size=1G # buffer_pool_sizeの4分の1くらい
slow_query_log=ON
slow_query_log_file=/var/lib/mysql/mysqld-slow.log
long_query_time=0
log_queries_not_using_indexes=ON
# thread_cache_size=4
# query_cache_limit-16M
# query_cache_size=512M
# query_cache_type=1
